@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer components {
  .body {
    @apply bg-black text-[#E1E1E5];
    /* background: #000 url("/bg.svg"); */
  }

  .checkbox-label:has(input:checked) {
    @apply ring-2 ring-[#677df5];
  }

  .dg-button {
    @apply items-center p-px font-medium rounded-md text-white;
  }

  .dg-button span {
    @apply inline-flex py-2 px-4 rounded-md;
  }

  .dg-button--primary {
    @apply text-[#101014] relative;
    background: linear-gradient(90deg, #201cff -91.5%, #13ef95 80.05%);
  }

  .dg-button--primary:hover:not(:focus):not(:active) {
    background: white;
  }

  .dg-button--primary:focus {
    background: black;
    @apply focus:text-[#e5e5e5] active:ring-2 active:ring-[#687ef7];
  }

  .dg-button--secondary {
    @apply text-[#e5e5e5] border border-[#BBBBBF] relative;
  }

  .dg-button--secondary:hover:not(:focus):not(:active) {
    @apply border-[#FBFBFF];
  }

  .dg-button--secondary:focus {
    background: black;
    @apply focus:text-[#e5e5e5] active:ring-2 active:ring-[#687ef7];
  }

  .dg-button--tertiary {
    @apply text-[#e5e5e5] relative;
    background: linear-gradient(85.5deg, #ee028b 5.66%, #ae29ff 99.14%);
  }

  .dg-button--tertiary:hover:not(:focus):not(:active) {
    @apply text-black;
    background: white;
  }

  .dg-button--tertiary:focus {
    background: black;
    @apply focus:text-[#e5e5e5] active:ring-2 active:ring-[#687ef7];
  }
}

.loader * {
  transition: all 0.5s ease;
}
