@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .body {
    @apply bg-black text-[#E1E1E5];
    /* background: #000 url("/bg.svg"); */
  }

  .checkbox-label:has(input:checked) {
    @apply ring-2 ring-[#677df5];
  }

  .dg-button {
    @apply items-center p-px font-medium rounded-md text-white;
  }

  .dg-button span {
    @apply inline-flex py-3 px-6 rounded-md;
  }

  .dg-button--primary {
    @apply text-[#101014] relative;
    background: linear-gradient(90deg, #201cff -91.5%, #13ef95 80.05%);
  }

  /* .dg-button--primary {
    @apply bg-white text-[#101014];
  }

  .dg-button--primary:hover:not(:focus):not(:active) {
    @apply text-black;
    background: linear-gradient(90deg, #201cff -91.5%, #13ef95 80.05%);
  }

  .dg-button--primary:focus {
    @apply focus:bg-white focus:text-[#101014] active:ring-2 active:ring-[#687ef7];
  }

  .dg-button--primary:active {
    @apply focus:bg-white focus:text-[#101014] focus:ring-2 focus:border-[#687ef7];
  }

  .dg-button--secondary {
    @apply text-[#e5e5e5] relative;
    background: linear-gradient(90deg, #201cff -91.5%, #13ef95 80.05%);
  }

  .dg-button--secondary span {
    @apply bg-black;
  }

  .dg-button--secondary:hover:not(:focus):not(:active) {
    @apply bg-black text-black;
  }

  .dg-button--secondary:hover:not(:focus):not(:active) span {
    @apply relative;
    background: linear-gradient(90deg, #201cff -91.5%, #13ef95 80.05%);
  }

  .dg-button--secondary::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    background: linear-gradient(90deg, #201cff80 -91.5%, #13ef9580 80.05%);
    z-index: -2;
    filter: blur(10px);
  }

  .dg-button--secondary:hover::before {
    background: none;
  } */
}

.loader * {
  transition: all 0.5s ease;
}
